
{% extends 'base.html'%}

{%load static %}
{% block page__title %}
    My blogs
{% endblock page__title %}


{% block body %}
{%if messages %}
{%for message in messages %}

    {%if message.tags == 'warning' %}
        <div class="warning">{{message}}</div>
    {%else%}
        <div class="success">{{message}}</div>
    {%endif %}
{% endfor %}
{%endif%}
{%if request.user.is_authenticated %}
    <div class="welcome">
        <h2>Xoş gəlmisiniz,{{request.user.username}}</h2>
    </div>
{%else%}
<div class="welcome">
    <h2>Giriş etməmisiniz</h2>
</div>
{%endif%}
    <h2>Məqalələr</h2>
    <div class="articles">
        <ul> 
            {% for article in articles %}
                <li>
                    <h3>{{article.author}}</h3>
                    <h4><a href="{% url 'detail' article.id %}">{{article.title}}</a></h4>
                    <p>{{article.content|truncatechars:30}}</p>
                    <small>{{article.create_date}}</small>
                    <img class="items" src="../Media/{{article.image}}" alt="">
                    <a class='duyme' href="{% url 'update' article.id %}"><i class="fa-solid fa-pen-nib"></i></a>
                    <a class='duyme' href="{% url 'delete' article.id %}"><i class="fa-solid fa-trash"></i></a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
    <a href="{%url 'addarticle' %}"><button class="btn">Məqalə əlavə et</button></a>
{% endblock body %}