{% extends 'base.html'%}

{%load static %}
{% block page__title %}
    Detallar
{% endblock page__title %}


{% block body %}

    <h2>Məqalələr</h2>
    <div class="articles">
        <ul>    
            <li>
                <h3>{{article.author}}</h3>
                <h4>{{article.title}}</h4>
                <p>{{article.content|safe}}</p>
                <small>{{article.create_date}}</small>
                {% if article.image %}
                    <img class="items" src="../Media/{{article.image}}" alt="">
                {%endif%}
                
            </li>
            <hr>
        </ul>
    </div>
{% endblock body %}